@charset "UTF-8";

@import 'mixin.less';
@import '01-main.less';
@import '06-structura.less';
@import '02-items.less';
@import '03-content.less';
@import '04-inputs.less';
@import '05-forms.less';
@import 'popups.less';
@import 'common.less';
@import 'fonts.less';
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
//@import 'icons.less';
//@import 'animate.less';

/* reviews avito add */
.lk-title-box {
	.order-download-wrap {
		.btn {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.title-box {
	&:has(.button-avito) {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px 30px;
		.title-wrap {
			margin: 0;
			flex: 1;
		}
		.action-wrap {
			display: block;
		}
	}
	.btn.button-avito {
		height: 6rem;
		border-radius: 3rem;
		padding: 0 19px;
		font-size: 16px;
		font-weight: 600;
		gap: 5px;
		.button-ico {
			width: auto;
			height: 3.6rem;
			img, svg {
				position: relative;
				top: auto;
				bottom: auto;
				left: auto;
				right: auto;
				width: auto;
				height: 100%;
				max-width: inherit;
			}
		}
	}
}
@media (min-width: 1024px) {
	.lk-title-box.section-lk-order {
		.order-info-wrap {
			align-items: flex-start;
		}
		.order-number {
			line-height: 60px;
		}
		.order-download-wrap {
			width: 300px;
			flex: 0 0 300px;
			.btn {
				padding: 0 10px;
			}
		}
	}
}
/* end reviews avito add */