
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap section-full-bg bg-dark">

		<!--footer-logo-panel-->
		<div class="footer-logo-panel">
			<a href="" class="logo-title">JMOTORS</a>
		</div>
		<!--/footer-logo-panel-->

		<!--footer-info-panel-->
		<div class="footer-info-panel">
			<div class="info-inner-wrap">
				<div class="info-wrap wrap-main">
					<div class="footer-title"><a href="tel:89160721619">+7 916 072 16 19</a></div>
					<div class="footer-title"><a href="mailto:info-jmotors@yandex.ru">info-jmotors@yandex.ru</a></div>
				</div>
				<div class="info-wrap wrap-link">
					<div class="info-link">
						<a href="" class="btn button-link button-arrow-link">
							<div class="button-title">Telegram</div>
						</a>
					</div>
					<div class="info-link">
						<a href="" class="btn button-link button-arrow-link">
							<div class="button-title">WhatsApp</div>
						</a>
					</div>
				</div>
				<div class="info-wrap wrap-shedule">
					<div class="footer-title">пн-вс 9:00-21:00</div>
				</div>
				<div class="info-wrap wrap-address">
					<div class="footer-title">г. Москва, ул. Автомобильная, 15, корпус 2</div>
				</div>
			</div>
		</div>
		<!--/footer-info-panel-->

		<!--footer-menu-panel-->
		<div class="footer-menu-panel">
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="footer-title">меню</div>
					<ul class="menu">
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">Доставка и оплата</div>
							</a>
						</li>
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">Гарантии</div>
							</a>
						</li>
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">Отзывы</div>
							</a>
						</li>
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">Блог/Новости</div>
							</a>
						</li>
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">Акции</div>
							</a>
						</li>
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">О компании</div>
							</a>
						</li>
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">Конаткты</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">реквизиты</div>
					<ul class="menu">
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">Реквизит</div>
							</a>
						</li>
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">Реквизит</div>
							</a>
						</li>
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">Реквизит</div>
							</a>
						</li>
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">Реквизит</div>
							</a>
						</li>
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">Реквизит</div>
							</a>
						</li>
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">Реквизит</div>
							</a>
						</li>
						<li>
							<a href="" class="btn btn-menu">
								<div class="button-title">Реквизит</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--/footer-menu-panel-->
		
		<!--footer-bottom-panel-->
		<div class="footer-bottom-panel">
			<div class="info-inner-wrap">
				<div class="info-wrap">© 2025, ООО «JMOTORS»</div>
				<div class="info-wrap"><a href="" class="link-main">Пользовательское соглашение</a></div>
				<div class="info-wrap"><a href="" class="link-main">Политика конфиденциальности</a></div>
			</div>
		</div>
		<!--/footer-bottom-panel-->
		
	</div>
</footer>
<!-- /footer -->