<!--form-page-box-->
<div class="form-page-box">
	<div class="box-inner-wrap section-full-bg">
		<div class="section-title-wrap">
			<div class="section-title page-title">обратная связь</div>
		</div>
		<form action="/" class="section-content-wrap">
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-field-input type-light">
						<div class="field-title">Введите имя</div>
						<input type="text" class="form-input" placeholder="имя">
					</div>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-field-input type-light">
						<div class="field-title">Введите номер <span class="frm-req">*</span></div>
						<input type="tel" class="form-input" placeholder="Телефон ">
					</div>
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-field-input type-light">
						<div class="field-title">Введите комментарий</div>
						<input type="text" class="form-input" placeholder="Комментарий">
					</div>
				</div>
			</div>
			<div class="frm-row-submit">
				<div class="frm-field field-info">
					<div class="frm-select type-light">
						<input type="checkbox" id="callback">
						<label for="callback">Отправляя данную форму, я соглашаюсь с <a href="" class="link-main">Политикой конфиденциальности</a></label>
					</div>
				</div>
				<div class="frm-field field-submit">
					<button type="submit" class="btn button-attention">
						<div class="button-title">Отправить</div>
						<div class="button-ico">
							<img src="./img/icons/arrow-link.svg" alt="">
						</div>
					</button>
				</div>
			</div>
		</form>
		<div class="section-photo-wrap">
			<div class="elm-photo photo-cover">
				<img src="./img/main/form.jpg" alt="">
			</div>
		</div>
	</div>
</div>
<!--/form-page-box-->
